@page "/allStartUps"
@using CommonModels.Models
@using BlazorUI.Models
@using BlazorUI.Interfaces
@inject IStartUpServices startUpService;
@inject LoginState loginState;
@inject NavigationManager navigationManager;

<h3>AllStartUps</h3>

<h2>Log in(User) if you want create contract with startup</h2>
<table class="table  bg-light">
    <thead>
        <tr>
            <th>Name StartUp</th>
            <th>InterestRate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var startUp in startUps)
        {
            <tr>
                <td>@startUp.StartUpName</td>
                <td>@startUp.InterestRate%</td>
                @if (loginState.IsLoggedIn && loginState.TypeUser == TypeUser.Client)
                {
                    <td><button class="btn btn-light" @onclick="() =>  CreateContract(startUp.Id)">Create Contract</button></td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    private List<StartUpGetModel> startUps = new List<StartUpGetModel>();
    protected override async Task OnInitializedAsync()
    {
        await GetStartUps();
    }
    private async Task GetStartUps()
    {
        var list = await startUpService.GetStartUpsAsync();
        startUps = list.ToList();
    }
    private void CreateContract(int id)
    {
        navigationManager.NavigateTo("createContract/" + id);
    }
}
