@page "/users"
@using CommonModels.Models
@using BlazorUI.Interfaces
@inject IClientServices clientService;

<h3>All Users</h3>

<table class="table table-striped table-bordered bg-light">
    <thead>
        <tr>
            <th>Login</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in clientList)
        {
            <tr>
                <td>@client.Login</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<ClientGetModel> clientList = new List<ClientGetModel>();
    protected override async Task OnInitializedAsync()
    {
        await GetClients();
    }
    private async Task GetClients()
    {
        var list = await clientService.GetClientsAsync();
        clientList = list.ToList();
    }
}
