@inherits LayoutComponentBase
@using BlazorUI.Models
@inject NavigationManager NavigationManager;
@inject LoginState loginState;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        
        <div class="top-row px-4">
            @if (loginState.IsLoggedIn == false)
            {
                <button @onclick="OpenLoginPage" class="btn btn-dark">Login</button>
                <button @onclick="OpenRegisterPage" class="btn btn-dark">Register</button>
            }
            else
            {
                if (loginState.TypeUser == TypeUser.Client)
                {
                    <span> @loginState.Client.Login</span>
                }
                else
                {
                    <span>@loginState.Company.CompanyName</span>
                }
                <button type="submit"  class="btn btn-dark" @onclick=@HandleLogout>
                    Logout
                </button>
            }
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
@code{
    private void OpenRegisterPage()
    {
        NavigationManager.NavigateTo("register");
    }
    private void OpenLoginPage()
    {
        NavigationManager.NavigateTo("login");
    }
    private void HandleLogout()
    {
        loginState.LogOut();
        NavigationManager.NavigateTo("/");

    }
}
